/* Root */
:root {
    --font-chakra: "Chakra Petch", sans-serif;
    --color-darkmode: #000;
    --color-red: red;
}

/* Custom title font */
.gh-head-logo,
.has-chakra-title .site-title,
.has-chakra-title .post-card-title,
.has-chakra-title .article-title,
.has-chakra-title .gh-content > [id],
.has-chakra-title .kg-toggle-card .kg-toggle-heading-text,
.has-chakra-title .kg-header-card h2.kg-header-card-header,
.has-chakra-title .footer-cta-title {
    font-family: var(--font-chakra);  
}

/* Header section */
.gh-head {
    font-family: var(--font-chakra);
    text-transform: uppercase;
}
.has-cover:not(.home-template) .gh-head {
    background-color: var(--color-darkmode);
}
@media (min-width: 992px) {
    body:not(.is-dropdown-loaded) .gh-head-menu .nav > li {
        opacity: 1;
    }
}
.site-header-content {
    padding-top: calc(7vmin+44px);
    padding-bottom: 7vmin;
}
.has-cover .site-header-content {
    min-height: 200px;
    max-height: 200px;
    padding-top: calc(19vmin+44px);
    padding-bottom: 19vmin;
}

/* Buttons */
button,
.gh-head-button,
.footer-cta-button span {
    font-family: var(--font-chakra);
}
.gh-head-button {
    border-radius: 0;
}
.gh-head-button,
.has-cover .gh-head-button {
    background-color: var(--color-red);
    color: #fff;
}
.gh-head-button:hover {
    opacity: .9;
}

/* Social links */
.author-profile-social-link {
    color: #fff;
}
.author-profile-social-link:hover {
    color: var(--color-lightgrey);
}

/* Mode switcher */
.switcher-btn {
    background: none;
    font-size: 1.3rem;
}
.switcher-btn svg {
    height: 16px;
    width: 16px;
}

/* Featured post card */
@media (min-width: 992px) {
    .post-card-large {
        grid-gap: 4vmin;
        border-top: 0;
        display: grid;
        grid-column: span 6;
        grid-template-columns: repeat(3, 1fr);
    }
    .post-card-large .post-card-image {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .post-card-large .post-card-image-link {
        grid-column: span 2;
        margin-bottom: 0;
        position: relative;
    }
}
.home-template .post-card-large {
    background: var(--color-darkgrey);
}
.post-card-large .post-card-content {
    padding: 2.5rem 2.5rem 2.5rem 0;
}
@media screen and (max-width:991px) {
    .post-card-large .post-card-content {
        padding: 0 2.5rem 2.5rem;
    } 
}

/* Tag navigation */
.tag-nav {
    color: #666;
    font-family: var(--font-chakra);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 4.5vmin auto 0;
    padding: 1.5rem 0;
    text-transform: uppercase;
}
.all-tags ul {
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 0;
}
.all-tags li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.all-tags a {
    color: #999;
    display: block;
    padding: 1rem;
}
.all-tags a:hover {
    background: var(--color-darkgrey);
}
.cat-btn.active {
    color: #fff;
    background: var(--color-darkgrey);
}
@media (max-width: 991px) {
    .tag-nav {
        gap: .5rem;
    }
    .all-tags ul {
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .all-tags a {
        padding: .5rem;
    }
    .all-tags a.tagname-featured {
        display: none;
    }
}

/* Filter posts */
.cat-posts {
    padding-top: 2rem;
}
.cat-posts .post-card.featured {
    display: flex;
}
.cat-posts .post-card.featured.activated-1 {
    display: none;
}
.cat-posts .post-card.deactivated {
    display: none;
}
.cat-posts .post-card.activated {
    display: flex;
}

/* Post footer cta */
.footer-cta-button {
    border-radius: 0;
}
.footer-cta-button span {
    border-radius: 0;
    background-color: var(--color-red);
    color: #fff;
}
.footer-cta-button span:hover {
    opacity: .9;
}

/* Footer section */
.site-footer {
    font-family: var(--font-chakra);
}